body{
	margin: 0px;
	background-color: #001524;
	color: #ff7d00;
}
.w50{
	width: 50%;
}
.dflex{
	display: flex;
}
.textcenter{
	text-align: center;
}
.hfull{
	height: 100vh;
}
.hcenter{
	align-items: center;
}
img{
	border: 10px solid white;
}
a{
	color: white;
}
.child{
	margin: 5px;
	width: 50%;
	height: 400px;
	background-color: white;
}